<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img width="160px" height="40px" src="../assets/images/logo-white.png" />
    <span>0.0.1</span>

    <div class="empty"></div>

    <button mat-mini-fab color="accent" (click)="drawer.toggle()">&#9776;</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="slide" #drawer>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a href="#">Dashboard</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="#">Statistics</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="#">Settings</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <app-dashboard>Loading...</app-dashboard>
    </div>
  </mat-drawer-content>
</mat-drawer-container>